# Python
app/__pycache__/
venv/
*.pyc

# IDEs
app/.vscode/

# Project specific
app/build/
app/dist/
app/assets/file_icon/icon.pdn
app.code-workspace
*exe
*bin
app.dist/
app/.idea
.python-version
build/
dist/
